{% for event in day.events %}
{% if event.category %}
{% assign category = categories | find: 'name', event.category %}
{% assign color = category.color %}
{% else %}
{% assign color = 'gray-4' %}
{% endif %}
<li class="d-flex flex-column flex-lg-row ms-2">
    <div class="row col-lg-2 me-lg-4 text-lg-end mb-2">
        <small class="text-muted">{{ event.start }}–{{ event.end }}</small>
    </div>
    <div class="row col-lg-10 border-start border-3 border-{{ color }} mb-4">
        <h5 class="fw-light m-0 {% if event.subtitle %} mb-2 {% endif %}">{{ event.title }}</h5>
        {% if event.subtitle %}
        <p class="fw-light m-0">{{ event.subtitle }}</p>
        {% endif %}
    </div>
</li>
{% endfor %}